<div class="container">
    <div class="row">
        <div class="column col-4 offset-4">
            With Music
        </div>
        <div class="column col-4">
            Without Music
        </div>
        <div class="column col-4">
            Mean time of completion
        </div>
        <div class="column col-4">
            {{meanTimeMusic$ | async}}
        </div>
        <div class="column col-4">
            {{meanTimeNoMusic$ | async}}
        </div>
    </div>
  <div class="row" *ngIf="(combinedStats$ | async) as stats">
    <button class="btn btn-primary" (click)="downloadFile(stats)">
      Download
    </button>
  </div>
</div>
